global:
  scrape_interval: 15s

scrape_configs:

  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'inventory-backend'
    metrics_path: /metrics
    static_configs:
      - targets: ['inventory-backend:8000']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['localhost:9100']
