apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: depi
spec:
  type: NodePort
  selector:
    app: inventory-backend
  ports:
    - port: 80
      targetPort: 8000
      nodePort: 30080