apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-api
  namespace: inventory
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-api
  template:
    metadata:
      labels:
        app: inventory-api
    spec:
      containers:
        - name: inventory-api
          image: DOCKERHUB_USERNAME/inventory-system:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
